<div class="container mt-4">
  <h2>Lista de Tareas</h2>
  <table class="table table-bordered">
    <thead class="thead-dark">
      <tr>
        <th>Nombre</th>
        <th>Detalles</th>
        <th>Fecha de Ingreso</th>
        <th>Fecha de Finalización</th>
        <th>Estado</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task of register">
        <td>{{ task.name }}</td>
        <td>{{ task.lastname }}</td>
        <td>{{ task.date_initial | date: 'yyyy-MM-dd' }}</td>
        <td>{{ task.date_end | date: 'yyyy-MM-dd' }}</td>
        <td>
          <button class="btn btn-sm" [ngClass]="{'estado-activo': task.status === 'ACTIVO', 'estado-inactivo': task.status === 'INACTIVO', 'estado-congelado': task.status === 'CONGELADO'}">{{ task.status }}</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
