body {
    background-color: white;
    text-align: left;
}

#font{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
*/formulario qui estamos dando la disposicion vertical*/
.Form {
    display: flex;
    flex-direction: column;

}
*/ajustando tamaño de los iinputs*/



*/aqui estamos asignado los inputs y los label de manera vertical*/
.row {
    display: flex;
  }
  .row2 {
    display: flex;
  }
 
  
 */aqui estamos ajustando los inputs*/ 
  .col {
    flex: 1;
    margin-right: 10px; /* Ajusta este valor según lo necesites */
    margin-right: 25px;
  }

  .col2 {
    flex: 1;
    margin-right: 10px; /* Ajusta este valor según lo necesites */
    margin-right: 25px;
  }
*/disminuyendo el tamñano de letra de los placeholder*/

  .form-control::placeholder {
    font-size: 12px; /* Ajusta este valor según lo necesites */
  }

  */huellas y fotos*/
  .identification {
    display: flex;
    flex-direction: column; /* Organizar los elementos en una columna */
}

.box {
    border: 2px solid #ccc;
    padding: 10px;
    height: 230px;
    width: 180px;
    margin-right: 10px; /* Margen entre los elementos */
}



