<body>
    <h1>Registro</h1>
    <section class="registro">
        <div>
            <label for="username">Nombre</label>
            <input type="text" id="username" name="username"> 
     
            <label for="lastname" class="label2">Apellido</label>
            <input type="text" id="lastname" name="lastname"> 
        </div>
        <div>
            <label for="telefono">Telefono</label>
            <input type="text" id="username" name="username"> 
     
            <label for="RH" class="label2">RH</label>
            <input type="text" id="lastname" name="lastname"> 
        </div>
        <div>
            <label for="username" >Eps</label>
            <input type="text" id="username" name="username"> 
     
            <label for="lastname" class="label2">Plan de entreno</label>
            <input type="text" id="lastname" name="lastname"> 
        </div>
        <div>
            <label for="username">Fecha de nacimiento</label>
            <input type="text" id="username" name="username"> 
     
            <label for="lastname" class="label2">Correo</label>
            <input type="text" id="lastname" name="lastname"> 
        </div>
        <div>
            <label for="username">Barrio</label>
            <input type="text" id="username" name="username"> 
     
            <label for="lastname" class="label2">Clave</label>
            <input type="text" id="lastname" name="lastname"> 
        </div>
  
    </section>

    <section>
        <h2>Registro de Huella</h2>
        <div>
            <label for="username">Huella</label>
            
            <label for="username">Mensaje de exito</label>
       
        </div>
    </section>


    <section>
        <h2>Contacto de emergencia</h2>
        <div>
            <label for="username">Nombre</label>
            <input type="text" id="username" name="username"> 
     
            <label for="lastname" class="label2">Celular</label>
            <input type="text" id="lastname" name="lastname"> 
        </div>

    </section>
</body>