<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
          
        </nav>
      </header>
      <section class="contenedor">
        <section class="imagen">
            <img id="image" src="../../assets/img/Home.png" alt="imagen-hoome" >
        
        </section>
        <section class="login">
        <h1>ZoomFitnes</h1>
            <label for="username">Usuario</label>
            <input type="text" id="username" name="username"> 
            <label for="username">Contraseña</label>
            <input type="text" id="username" name="username">
           <button routerLink="menu">Ingresar</button>
        </section>
    </section>
   
      <footer>
<p> Sotware Bardco @2024</p>
      </footer>
</body>
</html>
