<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>    
        <img src="../../../assets/img/img_logo.png" alt="logo tipo img">
    </header>
  <section class="contenedor">
    <section class="Menu">
        <button (click)="mostrarVentana('registro')"><img src="../../../assets/img/icons/user.svg" alt="Ícono de usuario">
         Registrar Usuario </button>
         <button (click)="mostrarVentana('lista_de_usuarios')"><img src="../../../assets/img/icons/list.svg" alt="Ícono de lista">Lista de Usuario</button>
        <button><img src="../../../assets/img/icons//inventory.svg" alt="Ícono de inventario">Inventario de productos</button>
        <button><img src="../../../assets/img/icons/buy.svg" alt="Ícono de ventas">Ventas</button>
        <button><img src="../../../assets/img/icons/statistics.svg" alt="Ícono de informes">Informes</button>
    </section>
    <section class="Windows">
        <app-register *ngIf="ventanaSeleccionada === 'registro'"></app-register>
        <app-list *ngIf="ventanaSeleccionada ==='lista_de_usuarios'"></app-list>
  
</section>
</section>
<footer>

</footer>
</body>
</html>
