<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
       <h1>ZoomFitnes</h1> 
    </header>
  <section class="contenedor">
    <section class="Menu">
        <button (click)="mostrarVentana('registro')">Registrar Usuario</button>
       <button (click)="mostrarVentana('lista_de_usuarios')">Lista de Usuario</button>
        <button>Inventario de productos</button>
        <button>Ventas</button>
        <button>Informes</button>
    </section>
    <section class="Windows">
        <app-register *ngIf="ventanaSeleccionada === 'registro'"></app-register>
        <app-list *ngIf="ventanaSeleccionada ==='lista_de_usuarios'"></app-list>
  
</section>
</section>
<footer>

</footer>
</body>
</html>
